header{
    border: 1cm;
    border-color: black;
    border-style: solid;
}
footer{
 border: 5px;
 border-color: black;
 border-style: solid;
}
footer:hover{
    background-color: aquamarine;
}
header:hover{
    background-color: aquamarine;
}
